<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-3">
              <div class="card-body">
                <legend class="text-center header">Editar usuario</legend>
                <form (ngSubmit)="guardar()" [formGroup]="form">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="nombre" id="input-nombre"
                    placeholder="Nombre" required />
                    <label for="input-nombre" class="form-label">Nombre</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="direccion" id="input-direccion"
                    placeholder="direccion" required />
                    <label for="input-direccion" class="form-label">direccion</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="precio" id="input-precio"
                    placeholder="precio" [readonly]="readonlyMode" />
                    <label for="input-precio" class="form-label">precio <i class="bi bi-dash-circle-fill"></i> </label>
                  </div>
                  <div class="mb-3">
                    <label for="input-estado" class="form-label">Estado</label>
                    <select class="form-select" formControlName="status" id="input-estado">
                      <option value="A">Activo</option>
                      <option value="I">Inactivo</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="input-tipo_inmuble" class="form-label">Estado</label>
                    <select class="form-select" formControlName="tipo_inmuble" id="input-tipo_inmuble">
                      <option value="A">Activo</option>
                      <option value="I">Inactivo</option>
                    </select>
                  </div>
                 

                  <div class="mb-3">
                    <label for="input-roles" class="form-label">Usuario</label>
                    <select class="form-select" formControlName="usuarios" id="input-roles">
                      <option *ngFor="let role of usuarios">
                        {{ role.firstname }}
                      </option>
                    </select>
                  </div>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" routerLink="/inmueble">
                      Volver
                    </button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                      Guardar
                    </button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>