<div class="text">
  <div class="container">
    <div class="banner">
      <img alt="Angular Logo" src="https://angular.io/assets/images/logos/angular/angular.svg">
    </div>
    <div class="content">
      <h1 class="title">WELCOME TO MIAMI</h1>
    
    </div>
      <button>
        <a class="nav-link px-2 link-body-emphasis" routerLink="/reserva">RESERVA <i class="bi bi-person"></i></a>
      </button>
      <button>
        <a class="nav-link px-2 link-body-emphasis" routerLink="/reserva/list">LIST <i class="bi bi-person"></i></a>
      </button>
  </div>
</div>